:root {
  --color1: rgb(85, 116, 255);
  --color2: rgb(0, 5, 70);
  --mono: rgb(149, 153, 153);
}
header {
  text-align: center;
  background-image: linear-gradient(to right, var(--color1), var(--color2));
  color: white;
  padding: 10px 0;
  font-weight: 10;
}

#cityBtn {
  margin: 20px 0;
  background-color: var(--color1);
}

#city-input {
  height: 50px;
  font-size: 25px;
  border-radius: 7px;
}

#line {
  padding: 2px;
  background-color: gray;
}

.recent-city {
  margin-top: 10px;
  background-color: var(--mono);
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  border-color: var(--mono);
}

.current-weather {
  outline: solid black 1px;
  margin-top: 10px;
  font-weight: bolder;
}

.cur-weather-content {
  margin-left: 5px;
}

.favorable {
  background-color: green;
  padding: 0 20px;
  border-radius: 5px;
}

.severe {
  background-color: red;
  padding: 0 20px;
  border-radius: 5px;
}

.moderate {
  background-color: yellow;
  padding: 0 20px;
  border-radius: 5px;
}

.hidden {
  display: none;
}
.five-day {
  background-color: var(--color2);
  margin: 5px 15px;
  color: white;
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
}
